<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/chatStyle.css' />


    <!-- custom font -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <script src="https://use.fontawesome.com/38d7e17bed.js"></script>
  </head>
  <body>
  	<!-- essa ul armazena as mensagens recebidas -->
    <div id="messages"></div>

    <!-- form para envio de mensagens -->
    <div id="typearea">
	    <form action="">
	      <input id="m" autocomplete="off" /><button><a href="#"><i class="fa fa-paper-plane" aria-hidden="true"></i></a></button>
	    </form>
	</div>

    <!-- scripts para funcionamento do chat -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
      // inicializa a biblioteca p/ coenxao
      //sem url em io() = localhost
      //ao clicar em send, o evento 'chat message' dispara pro servidor, levando a mensagem.

      $(function() {
        var socket = io();
        $('form').submit(function()
        {
        	console.log($('#m').val());
        	if ($('#m').val()) 
        	{
        		socket.emit('chat message', $('#m').val());
          		$('#m').val('');
          		return false;
        	}
        	return false;
          
        });
        //trata o recebimento da propagação do evento pelo servidor
        socket.on('chat message', function(msg){
          $('#messages').append($('<div class="msgtext"><p>').text(msg));
          $('#messages').append($('</p></div>'));
        });
      });
    </script>
  </body>
</html>
