<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/welcomeStyle.css' />

    <!-- custom font -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <script src="https://use.fontawesome.com/38d7e17bed.js"></script>
  </head>
  <body>

    

    <div class="welcome">
      <h1>Bem vindo ao <%= title %>.</h1>
      <p>O que lhe traz aqui?</p>
  </div>

    <div class="circle">
      <p> Digite sua dúvida abaixo para perguntar aos Deuses</p>
    </div>

    <img src="https://i.imgur.com/OSsvELm.png" id="turing">
    <img src="https://i.imgur.com/hqPSHJk.png" id="dijkstra">

   


    <!-- form para envio de mensagens -->
    <div id="typearea">
	    <form action="">
	      <input id="m" autocomplete="off" /><button><a href="#"><i class="fa fa-hand-spock-o" aria-hidden="true"></i></a></button>
	    </form>
	</div>
  
    <canvas id="myCanvas" height="600" width="800"></canvas>

    <script src="/javascripts/smokeEffect.js"></script>




    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  </body>
</html>
